body {
    font-family: Arial, sans-serif;
    background-image: url(./h2.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
}

h1 {
    text-align: center;
    color:white;
}

#list-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#list-form input, #list-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#lists-container {
    margin-top: 20px;
}

.list {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.list h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.list p {
    color: #666;
    font-size: 14px;
}
button.remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

